<!doctype html>
<html lang="en"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout=http://www.ultraq.net.nz/thymeleaf/layout
      layout:decorate="layouts/main">

<body>
<div layout:fragment="content" class="row mt-5 align-items-end">
    <div th:each="magazine : ${magazineList}" class="col-lg-3">
        <div class="p-3 mt-2 border border-dark border-2 rounded">
            <h5 th:text="${magazine.getName()}"></h5>
            <p th:text="${magazine.getDescription()}"></p>
            <a href="#" class="btn btn-success mt-2">open for read</a>
        </div>
    </div>
</div>
</body>
</html>
