<!doctype html>
<html lang="en"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout=http://www.ultraq.net.nz/thymeleaf/layout
      layout:decorate="layouts/main">

<body>
<div layout:fragment="content">
  <div class="row mt-5">
    <div class="col-lg-6">
      <form th:action="@{'/magazines/update'}" method="post" class="border border-2">
        <div class="mb-3 p-3">
          <input type="hidden" name="magazineId" th:value="${magazine.id}">
          <label for="magazineName" class="form-label">Name</label>
          <input type="text" class="form-control" id="magazineName" aria-describedby="emailHelp" name="magazineName" th:value="${magazine.name}">
        </div>
        <div class="mb-3">
          <label for="magazineDescription" class="form-label">Description</label>
          <input type="text" class="form-control" id="magazineDescription" name="magazineDescription" th:value="${magazine.description}">
        </div>
        <div class="mb-3">
          <label for="magazinePrice" class="form-label">Price</label>
          <input type="number" class="form-control" id="magazinePrice" name="magazinePrice" th:value="${magazine.price}">
        </div>
        <div class="modal-footer">
          <button type="submit" class="btn btn-primary">Add</button>
          <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
          <a th:href="@{'/magazines/delete/' + ${magazine.id}}" class="btn btn-danger">Delete</a>
        </div>
      </form>
    </div>
  </div>
</div>
</body>
</html>